name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: github build
    runs-on: ubuntu-latest
    steps:

      - name: Get current date time
        id: date_time
        run: echo "::set-output name=date_time::$(date +'%Y-%m-%d-%H-%M-%S')"

      - uses: actions/checkout@v2

      - name: Docker Login
        id: docker_login
        run: |
          echo "::set-output name=docker_login::$(docker login -u ${{ secrets.ODR_USER }}-p ${{ secrets.ODR_PWD}} ${{ secrets.ORT_DOCKER_REGISTRY }})"

      - name: Build the Docker image
        run: |
          echo $BLD_IMG_TAG
          docker build --file Dockerfile --tag $BLD_IMG_TAG .
        env:
          BLD_IMG_TAG: hxa_gloin_${{ steps.date_time.outputs.date_time }}

      - name: Tag docker image
        run: |
          docker tag $BLD_IMG_TAG ${{ secrets.ORT_DOCKER_REGISTRY }}/$BLD_IMG_TAG
        env:
          BLD_IMG_TAG: hxa_gloin_${{ steps.date_time.outputs.date_time }}

      - name: Push docker image to ODR
        run: |
          echo $BLD_IMG_TAG
          docker push ${{ secrets.ORT_DOCKER_REGISTRY }}/$BLD_IMG_TAG
        env:
          BLD_IMG_TAG: hxa_gloin_${{ steps.date_time.outputs.date_time }}
