name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: github build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get current date time
        id: date_time
        run: echo "::set-output name=date_time::$(date +'%Y-%m-%d-%s')"
        env:
          BLD_TAG: hxa_gloin_${{ steps.date_time.outputs.date_time }}
      - name: Docker Login
        id: docker_login
        run: |
          echo "::set-output name=docker_login::$(docker login -u deploy -p Welcome1)"
      - name: Build the Docker image
        run: docker build --file Dockerfile --tag ${{ env.BLD_TAG }}
      - name: Push the Docker image
        run: docker push env.BLD_TAG

